{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "sonarjs",
    "security",
    "github"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "curly": [
      "error",
      "multi-line"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "semi": [
      "warn",
      "never"
    ],
    "sonarjs/cognitive-complexity": "warn"
  },
  "globals": {
    "process": "readonly"
  },
  "overrides": [
    {
      "files": [
        "*.spec.ts",
        "*.spec.tsx",
        "src/help/command.ts"
      ],
      "rules": {
        "no-undef": "off",
        "security/detect-non-literal-fs-filename": "off",
        "sonarjs/no-duplicate-string": "off",
        "security/detect-object-injection": "off",
        "max-nested-callbacks": "off",
        "sonarjs/no-identical-functions": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": 1,
        "no-use-before-define": "off",
        "sonarjs/cognitive-complexity": "off"
      }
    }
  ]
}